@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 80px;
    background: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}